fieldset {
  width: max-content;
  border-radius: 5px;
  margin: 10px auto;
}

#filter-btn {
  margin: 10px 0;
  padding: 10px 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
  margin-inline: auto;
  justify-content: center;
}

.profile-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.profile-img {
  width: 100%;
}

body {
  text-align: center;
}

.form {
  margin-top: 50px;
}
